{% extends "basicapp/basic.html"%}
{% block content %}

<div class="shadow2 ">
                <div class="d-flex justify-content-center">
                    <h3 id="form-title">STUDENT REGISTER </h3>
                </div>
            <div class="d-flex justify-content-center form_container">

                <form method="POST" action="">
                    {% csrf_token %}
                        <div class="input-group mb-3">
                            Name:
                            {{form.name}}
                        </div>
                        <div class="input-group mb-3">
                            Branch:
                            {{form.branch}}
                        </div>
                    <div class="input-group mb-3">
                        Scholar Id:
                            {{form.schId}}
                        </div>
                    <div class="input-group mb-2">
                        Email id:
                        {{form.email}}
                    </div>
                        <div class="input-group mb-2">
                            Password:
                            {{form.password1}}
                        </div>
                        <div class="input-group mb-2">
                            Enter again:
                            {{form.password2}}
                        </div>



                        <div class="d-flex justify-content-center mt-3 login_container">
                            <input class="btn login_btn" type="submit" value="Register Account">
                        </div>

                    </form>
                </div>

                {{form.errors}}

                <div class="mt-4">
                    <div class="d-flex justify-content-center button1 button">
                        Already have an account?&nbsp;&nbsp; <a href="{% url 'login' %}" >Login</a>
                    </div>
                </div>
</div>

{% endblock %}